@model ServiceSystem.Models.Application
@using ServiceSystem.Models
@using System.Globalization

@{
    ViewBag.Title = "ApplicationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> toPass = new List<SelectListItem>();

    foreach (var measure in (List<PaymentMeasure>)ViewData["ServicePaymentMeasures"])
    {
        switch (measure.Currency)
        {
            case "hryvnia":
                toPass.Add(new SelectListItem
                {
                    Text = String.Format("{0}/{1}", CultureInfo.GetCultureInfo("uk-UA").NumberFormat.CurrencySymbol, measure.ValueMeasure),
                    Value = String.Format("{0}_{1}", measure.Currency, measure.ValueMeasure)
                }
                    );
                break;
            case "dollar":
                toPass.Add(new SelectListItem
                {
                    Text = String.Format("{0}/{1}", CultureInfo.GetCultureInfo("en-US").NumberFormat.CurrencySymbol, measure.ValueMeasure),
                    Value = String.Format("{0}_{1}", measure.Currency, measure.ValueMeasure)
                }
                );
                break;
            case "euro":
                toPass.Add(new SelectListItem
                {
                    Text = String.Format("{0}/{1}", CultureInfo.GetCultureInfo("de-DE").NumberFormat.CurrencySymbol, measure.ValueMeasure),
                    Value = String.Format("{0}_{1}", measure.Currency, measure.ValueMeasure)
                }
                );
                break;
        }
    }

    Bill bill = null;

    if (ViewData.ContainsKey("Bill"))
    {
        bill = (Bill)ViewData["Bill"];

        if (Model.Status == "ADVANCE_PENDING")
        {
            bill.Price = (bill.Price * bill.AdvancePercent) / Convert.ToDouble(100);
        }
        else if (Model.Status == "MAIN_PENDING")
        {
            bill.Price = bill.Price * (1 - bill.AdvancePercent / Convert.ToDouble(100));
        }
    }

    int bill_id = bill == null ? 0 : bill.Id;
}


<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2" style="border: 2px solid green; border-radius: 3px; padding: 10px;">
        <table class="table table-bordered" style="padding: 10px;">
            <tbody>
                <tr>
                    <td>Замовник</td>
                    <td>@Model.Username</td>
                </tr>
                <tr>
                    <td>Останні зміни</td>
                    <td>@Model.StatusChangeDate</td>
                </tr>
                <tr>
                    <td>Статус</td>
                    <td>@Model.Status</td>
                </tr>
                <tr>
                    <td>Назва сервісу</td>
                    <td>@Model.ServiceName</td>
                </tr>
                <tr>
                    <td>Деталі</td>
                    @if (Model.Description.Trim() != "")
                    {
                    <td>@Model.Description</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                </tr>
            </tbody>
        </table>

        @if (ViewData.ContainsKey("FileSource"))
        {
                <div class="row">
                    <embed src="@ViewData["FileSource"]" class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" style="min-height: 500px;" />
                </div>
        }
        else if(Model.Status == "MAIN_PAID")
        {
            <p class="text-center">Послугу повністю оплачено</p>
        }

        @if (User.Identity.Name == ViewData["ServiceProviderName"].ToString() && Model.Status == "NO_BILL")
        {
            <input type="button" name="form_application" class="btn btn-success btn-block" style="margin: auto;" value="Сформувати заявку" />

            <div id="application_form_holder" hidden>
                @Html.Partial("~/Views/Shared/_Bill.cshtml", toPass, 
               new ViewDataDictionary() {  new KeyValuePair<string, object>("ApplicationId", (int)ViewData["ApplicationId"])})
            </div>
        }

        
        @if (User.Identity.Name == Model.Username && Model.Status != "MAIN_PAID" && Model.Status != "NO_BILL" && bill.Type == "WEBMONEY")
        {
            <form id=pay name=pay method="POST" action="https://merchant.webmoney.ru/lmi/payment.asp" accept-charset="windows-1251">
                    <input type="hidden" name="LMI_PAYMENT_AMOUNT" value="@bill.Price" />
                    <input type="hidden" name="LMI_PAYMENT_DESC" value="Платіж за квитанцією # @bill.Id" />
                    <input type="hidden" name="LMI_PAYMENT_NO" value="@bill.Id">
                    <input type="hidden" name="LMI_PAYEE_PURSE" value="111" />
                    <input type="hidden" name="LMI_SIM_MODE" value="0" />
                    <input type="submit" class="btn btn-success btn-block" style="margin: auto;" value="Сплатити квитанцію" />
            </form>
        }

        @if (User.Identity.Name == ViewData["ServiceProviderName"].ToString() && Model.Status != "MAIN_PAID" &&
                Model.Status != "NO_BILL" && bill.Type == "BANK")
        {
            <input type="submit" id="payment_done" class="btn btn-success btn-block" style="margin: auto;" value="Підтвердити здійснення платежу" />
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#payment_done").click(function () {

                $.ajax({
                    method: "POST",
                    url: "http://localhost:49332/api/BankBill/ConfirmPayment",
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('access_token')
                    },
                    dataType: "json",
                    data: JSON.stringify(@bill_id),
                    success: function(){
                        window.location.href = '@Url.Action("ApplicationDetails", "Service", new { id = Model.Id })';
                    },
                    error: function(res)
                    {
                        alert(res.responseText);
                    }

                });

            });

            $('select[name="payment_selector"]').change(function () {
                if($(this).val() == "wm")
                {
                    $("#wm_container").removeAttr("hidden");
                    $("#privat_container").attr("hidden", true);
                }
                else if($(this).val() == "privat")
                {
                    $("#privat_container").removeAttr("hidden");
                    $("#wm_container").attr("hidden", true);
                }
            });

            $('input[name="form_application"]').click(function () {
                $("#application_form_holder").removeAttr("hidden");
            });

            $('input[name="has_time_limit"]').change(function () {
                if ($(this).is(":checked")) {
                    $("#time_limit_holder").removeAttr("hidden");
                }
                else {
                    $("#time_limit_holder").attr("hidden", true);
                }
            });

            $('input[name="add_comment"]').change(function () {
                if ($(this).is(":checked")) {
                    $("#comment_holder").removeAttr("hidden");
                }
                else {
                    $("#comment_holder").attr("hidden", true);
                }
            });
        });
    </script>
}