
@{
    ViewBag.Title = "ConsultantSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/consultantSearch.css" />

<div class="row mainBlock">
    <div class="col-xs-10 col-sm-offset-1">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <div class="form-horizontal well mainForm">
                    <div class="form-group">
                        <input name="name" placeholder="Ім'я користувача" class="form-control mainForm__field" />
                    </div>
                    <div class="form-group">
                        <input name="organisation" placeholder="Організація" class="form-control mainForm__field" />
                    </div>
                    <input class="btn btn-success btn-block mainForm__field" id="searchButton" value="Шукати" />
                    <input class="btn btn-success btn-block mainForm__field-invitation" id="enter_email" data-toggle="modal" data-target="#email_invitation" value="E-mail запрошення" />
                </div>
            </div>
            <div class="col-xs-8 col-sm-7 dataBlock" id="servicesData">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="email_invitation" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="text-center">Введіть e-mail для надсилання запрошення</h2>
            </div>
            <div class="modal-body">
                <input type="text" name="invitation_email" class="form-control" placeholder="E-mail" style="margin: auto;" />
            </div>
            <div class="modal-footer">
                <button type="button" id="email_insert_done" data-dismiss="modal" class="btn btn-success">Підтвердити</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>
    </div>
</div>

<div id="loadingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2 col-sm-push-5">
                        <img src="~/Common/ajax-loader.gif" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script type="text/javascript">

        var lastId = 0;

        var tempName = null;
        var tempOrganisation = null;


        function getDivForConsultant(consultant)
        {
            return '<div class="row text-center dataUnit" id="consultant_' + consultant.Id + '">'
            + '<div class="col-xs-10 col-md-offset-1 dataUnit__body">'
            + '<h3>' + consultant.Surname + ' ' + consultant.Name + ' ' + consultant.FatherName + '</h3>'
            + '<p class="text-center"><b>E-mail:</b> ' + consultant.Email + '</p>'
            + '<p class="text-center"><b>Організація:</b> ' + consultant.Organisation + '</p>'
            + '<div class="row">'
            + '<div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">'
            + '<input type="button" class="btn btn-success dataUnit__inviteBtn btn-block" name="invite_' + consultant.Id + '" value="Запросити">'
            + '</div>'
            + '</div>'
            + '</div>'
            + '</div>';
        }

        $(document).ready(function () {

            $("#email_insert_done").click(function(){

                var toPass = {
                    Email: $('input[name="invitation_email"]').val(),
                    ServiceId: '@ViewData["ServiceId"].ToString()'
                }

                $.ajax({
                    method: "POST",
                    url: "/api/ServiceConsultants/AddMailConsultant",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(toPass),
                    success: function(res){
                        alert(res);
                    },
                    error: function(res){
                        displayMessage("Error", res.responseText);
                    }
                });

            });


            $(document).scroll(function () {
                if ($(document).height() - ($(window).height() + $(window).scrollTop()) < 50) {

                    var toPass = {
                        Name: tempName,
                        Organisation: tempOrganisation,
                        LastID: lastId,
                        ServiceId: '@ViewData["ServiceId"].ToString()'
                    };

                    $.ajax({
                        type: "POST",
                        url: "/api/ServiceConsultants/PostConsultantParams",
                        dataType: "json",
                        async: false,
                        headers: {
                            Authorization: 'Bearer ' + localStorage.getItem("access_token")
                        },
                        data: JSON.stringify(toPass),
                        contentType: "application/json; charset=utf-8",
                        async: false,
                        success: function (res) {

                            var toProceed = JSON.parse(res);

                            if (toProceed != null) {

                                for (var i = 0; i < toProceed.length; ++i) {
                                    $("#servicesData").append(getDivForConsultant(toProceed[i])).children().last().fadeIn("slow");
                                }

                                $('input[name^="invite"]').click(function () {

                                    $("#loadingModal").modal("show");
                                    var id = $(this).attr("name").split('_')[1];

                                    $.ajax({
                                        method: "POST",
                                        url: "/api/ServiceConsultants/AddConsultant",
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        data: JSON.stringify({Id: id, ServiceId: @ViewData["ServiceId"]}),
                                        success: function(res){
                                            $("#consultant_" + id).remove();
                                            $("#loadingModal").modal("hide");
                                            if($("#servicesData").children().length == 0){
                                                $("#servicesData").append('<p style="text-align: center">Користувачів не знайдено</p>');
                                            }
                                            displayMessage("Success", 'Користувача успішно запрошено');
                                        },
                                        error: function(res){
                                            $("#loadingModal").modal("hide");
                                            displayMessage("Error", res.responseText);
                                        }
                                    });
                                });

                                lastId += toProceed.length;
                            }
                            else {

                                if ($("#servicesData").children().length == 0) {
                                    $("#servicesData").append('<div class="text-center">Користувачів не знайдено</div>');
                                }
                            }
                        },
                        error: function (xhr, error, message) {
                            displayMessage("Error", message);
                        }
                    });
                }
            });

            $("#searchButton").click(function () {

                $("#servicesData").empty();
                lastId = 0;

                tempName = $('input[name="name"]').val();
                tempOrganisation = $('input[name="organisation"]').val();

                var toPass = {
                    Name: tempName,
                    Organisation: tempOrganisation,
                    LastID: lastId,
                    ServiceId: '@ViewData["ServiceId"].ToString()'
                };

                $.ajax({
                    type: "POST",
                    url: "/api/ServiceConsultants/PostConsultantParams",
                    dataType: "json",
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem("access_token")
                    },
                    data: JSON.stringify(toPass),
                    contentType: "application/json; charset=utf-8",
                    success: function(res)
                    {

                        var toProceed = JSON.parse(res);

                        if(toProceed != null)
                        {
                            for (var i = 0; i < toProceed.length; ++i) {
                                $("#servicesData").append(getDivForConsultant(toProceed[i])).children().last().fadeIn("slow");;
                            }
                            $('input[name^="invite"]').click(function () {
                                $("#loadingModal").modal("show");
                                var id = $(this).attr("name").split('_')[1];

                                $.ajax({
                                    method: "POST",
                                    url: "/api/ServiceConsultants/AddConsultant",
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    data: JSON.stringify({Id: id, ServiceId: @ViewData["ServiceId"]}),
                                    success: function(res){
                                        $("#loadingModal").modal("hide");
                                        $("#consultant_" + id).remove();
                                        if($("#servicesData").children().length == 0){
                                            $("#servicesData").append('<p style="text-align: center">Користувачів не знайдено</p>');
                                        }
                                        displayMessage("Success", 'Користувача успішно запрошено');
                                    },
                                    error: function(res){
                                        $("#loadingModal").modal("hide");
                                        displayMessage("Error", res.responseText);
                                    }
                                });
                            });

                            lastId += toProceed.length;
                        }
                        else {
                            if ($("#servicesData").children().length == 0) {
                                $("#servicesData").append('<div class="text-center">Користувачів не знайдено</div>');
                            }
                        }
                    },
                    error: function(res)
                    {
                        displayMessage("Error", res.responseText);
                    }
                });
            });

        });

        $(window).load(function(){
            $("#searchButton").click();
        });
    </script>
}