
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-5 col-sm-5 col-lg-5 col-md-5 col-md-offset-4 col-sm-offset-4 col-lg-offset-4">
        @using (Html.BeginForm("Main", "Service", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="well form-horizontal" id="serviceConstructor">
                <div id="constructor_header" style="border: 2px solid green; border-radius: 3px;">
                    <div class="form-group">
                        <input type="text" name="service_name" placeholder="Назва послуги" style="margin-bottom: 5px;" class="form-control col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-lg-offset-2 col-md-offset-2" />
                    </div>
                    <div class="form-group">
                        <select class="form-control col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-lg-offset-2 col-md-offset-2" name="service_category">
                            <option value="None">Категорія</option>
                            <option value="IT">IT</option>
                            <option value="Law">Юриспунденція</option>
                            <option value="Economy">Економіка</option>
                            <option value="Education">Освіта</option>
                            <option value="Engineering">Інженерія</option>
                            <option value="Household">Домогосподарство</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea rows="10" name="service_description" placeholder="Опис послуги" style="margin-bottom: 5px;" class="form-control cos-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-lg-offset-2 col-md-offset-2"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="file" name="service_attachments" multiple style="margin-bottom: 5px;" class="form-control cos-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-lg-offset-2 col-md-offset-2" />
                    </div>
                    <div class="form-group">
                        <select name="service_type" class="form-control col-xs-8 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-lg-offset-2 col-md-offset-2" id="baseController">
                            <option value="none">Тип послуги</option>
                            <option value="session">Сеанс</option>
                            <option value="course">Курс</option>
                            <option value="deadline">Дедлайн</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control col-md-offset-2 col-lg-offset-2" placeholder="Початковий внесок (1% - 99%)" name="advance_percent" id="advance_percentage" />
                    </div>
                </div>
                <div id="constructor_body" style="margin-top: 10px;">
                </div>
                <div id="constructor_footer" style="margin-top: 10px;  margin-bottom: 20px;">
                </div>
                <input type="button" name="add_properties_selector" class="btn btn-default" value="+ додати властивість" />
                <input type="button" name="remove_properties_selector" disabled class="btn btn-default" value="- видалити властивість" />
                <div class="row" style="margin-top: 10px;">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
                        <input type="submit" class="btn btn-info btn-block" value="Сформувати послугу" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<input type="button" class="btn btn-block btn-info" style="margin: auto;" value="Шукати послуги" onclick="location.href='@Url.Action("ServiceSearch", "Service")'" />
<input type="button" id="exit_button" class="btn btn-block btn-info" style="margin: auto; margin-top: 10px;" value="Вийти" />
<input type="button" class="btn btn-block btn-info" style="margin: auto; margin-top: 10px;" value="Переглянути профіль" onclick="location.href='@Url.Action("InternalAccountPage", "Service")'" />
@section scripts{
    <script type="text/javascript">

        var properties = 0;

        $(document).ready(function () {

            $("#exit_button").click(function () {
                $.ajax({
                    method: "POST",
                    url: 'http://localhost:49332/api/Account/Logout',
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem("access_token")
                    },
                    success: function()
                    {
                        window.location.href = '@Url.Action("Index", "Service")';
                    },
                    error: function(res)
                    {
                        alert(res.responseText);
                    }
                });
            });

            $('select[name="service_type"]').change(function () {

                $("#constructor_body").empty();

                if ($(this).val() == "session") {

                    var duration_widgets = 1;
                    var price_widgets = 1;

                    var toAppend = '@ViewData["service_session_block"].ToString()';

                    toAppend = toAppend.replace(/&quot;/g, "\"");
                    toAppend = toAppend.replace(/&lt;/g, "<");
                    toAppend = toAppend.replace(/&gt;/g, ">");

                    $("#constructor_body").append(toAppend);

                    $("#price_measure_description_selector_1").change(function () {

                        if ($(this).is(':checked')) {
                            $("#price_description_block_1").removeAttr("hidden");
                        }
                        else {
                            $("#price_description_block_1").attr("hidden", true);
                        }

                    });

                    $('input[name="add_price_measure_selector"]').click(function () {

                        price_widgets++;

                        $('input[name="remove_price_measure_selector"]').removeAttr("disabled");


                        var toAppend = '@ViewData["price_measure_widget"].ToString()';

                        toAppend = toAppend.replace(/&quot;/g, "\"");
                        toAppend = toAppend.replace(/&lt;/g, "<");
                        toAppend = toAppend.replace(/&gt;/g, ">");
                        toAppend = toAppend.replace(/[*]/g, price_widgets.toString());

                        $("#price_measures").append(toAppend);

                        $("#price_measure_description_selector_" + price_widgets).change(function () {

                            var data = $(this).attr('name').split("_");

                            var index = data[data.length - 1];

                            if ($(this).is(':checked')) {
                                $("#price_description_block_" + index).removeAttr("hidden");
                            }
                            else {
                                $("#price_description_block_" + index).attr("hidden", true);
                            }

                        });

                    });

                    $('input[name="remove_price_measure_selector"]').click(function () {

                        $("#price_measure_widget_" + price_widgets).remove();

                        --price_widgets;

                        if (price_widgets == 1) {
                            $('input[name="remove_price_measure_selector"]').attr("disabled", true);
                        }
                    });

                    $(".days").change(function () {

                        if ($(this).is(':checked')) {
                            $("#" + $(this).attr('id') + "_hours").removeAttr("hidden");
                        }
                        else {
                            $("#" + $(this).attr('id') + "_hours").attr("hidden", true)
                        }

                    });

                    $('select[name="range_type_1"]').change(function () {

                        $("#duration_measure_data_1").empty();

                        if ($(this).val() == "from_till") {
                            var toAppend = '@ViewData["duration_measure_from_till"]';

                            toAppend = toAppend.replace(/&quot;/g, "\"");
                            toAppend = toAppend.replace(/&lt;/g, "<");
                            toAppend = toAppend.replace(/&gt;/g, ">");
                            toAppend = toAppend.replace(/[*]/g, "1");

                            $("#duration_measure_data_1").append(toAppend);
                        }
                        else if ($(this).val() == "from") {
                            var toAppend = '@ViewData["duration_measure_from"]';

                            toAppend = toAppend.replace(/&quot;/g, "\"");
                            toAppend = toAppend.replace(/&lt;/g, "<");
                            toAppend = toAppend.replace(/&gt;/g, ">");
                            toAppend = toAppend.replace(/[*]/g, "1");

                            $("#duration_measure_data_1").append(toAppend);
                        }
                        else if ($(this).val() == "till") {
                            var toAppend = '@ViewData["duration_measure_till"]';

                            toAppend = toAppend.replace(/&quot;/g, "\"");
                            toAppend = toAppend.replace(/&lt;/g, "<");
                            toAppend = toAppend.replace(/&gt;/g, ">");
                            toAppend = toAppend.replace(/[*]/g, "1");

                            $("#duration_measure_data_1").append(toAppend);
                        }

                    });

                    $('input[name="add_duration_measure_selector"]').click(function () {

                        duration_widgets++;

                        $('input[name="remove_duration_measure_selector"]').removeAttr("disabled");

                        var toAppend = '@ViewData["duration_measure_widget"].ToString()';

                        toAppend = toAppend.replace(/&quot;/g, "\"");
                        toAppend = toAppend.replace(/&lt;/g, "<");
                        toAppend = toAppend.replace(/&gt;/g, ">");
                        toAppend = toAppend.replace(/[*]/g, duration_widgets.toString());

                        $("#duration_measures").append(toAppend);

                        $(".days").change(function () {

                            if ($(this).is(':checked')) {
                                $("#" + $(this).attr('id') + "_hours").removeAttr("hidden");
                            }
                            else {
                                $("#" + $(this).attr('id') + "_hours").attr("hidden", true)
                            }

                        });

                        $("#duration_measure_description_selector_" + duration_widgets).change(function () {

                            var data = $(this).attr('name').split("_");

                            var index = data[data.length - 1];

                            if ($(this).is(':checked')) {
                                $("#duration_description_block_" + index).removeAttr("hidden");
                            }
                            else {
                                $("#duration_description_block_" + index).attr("hidden", true);
                            }
                        });

                        $('select[name="range_type_' + duration_widgets + '"]').change(function () {

                            var data = $(this).attr('name').split("_");

                            var index = data[data.length - 1];

                            $("#duration_measure_data_" + index).empty();

                            if ($(this).val() == "from_till") {
                                var toAppend = '@ViewData["duration_measure_from_till"]';

                                toAppend = toAppend.replace(/&quot;/g, "\"");
                                toAppend = toAppend.replace(/&lt;/g, "<");
                                toAppend = toAppend.replace(/&gt;/g, ">");
                                toAppend = toAppend.replace(/[*]/g, index.toString());

                                $("#duration_measure_data_" + index).append(toAppend);
                            }
                            else if ($(this).val() == "from") {
                                var toAppend = '@ViewData["duration_measure_from"]';

                                toAppend = toAppend.replace(/&quot;/g, "\"");
                                toAppend = toAppend.replace(/&lt;/g, "<");
                                toAppend = toAppend.replace(/&gt;/g, ">");
                                toAppend = toAppend.replace(/[*]/g, index.toString());

                                $("#duration_measure_data_" + index).append(toAppend);
                            }
                            else if ($(this).val() == "till") {
                                var toAppend = '@ViewData["duration_measure_till"]';

                                toAppend = toAppend.replace(/&quot;/g, "\"");
                                toAppend = toAppend.replace(/&lt;/g, "<");
                                toAppend = toAppend.replace(/&gt;/g, ">");
                                toAppend = toAppend.replace(/[*]/g, index.toString());

                                $("#duration_measure_data_" + index).append(toAppend);
                            }

                        });
                    });


                    $('input[name="remove_duration_measure_selector"]').click(function () {

                        $("#duration_measure_widget_" + duration_widgets).remove();

                        duration_widgets--;

                        if (duration_widgets == 1) {
                            $('input[name="remove_duration_measure_selector"]').attr("disabled", true);
                        }
                    });

                    $("#duration_measure_description_selector_1").change(function () {

                        if ($(this).is(':checked')) {
                            $("#duration_measure_description_block_1").removeAttr("hidden");
                        }
                        else {
                            $("#duration_measure_description_block_1").attr("hidden", true);
                        }
                    });

                }
                else if ($(this).val() == "course") {

                    var toAppend = '@ViewData["service_course_block"].ToString()';

                    toAppend = toAppend.replace(/&quot;/g, "\"");
                    toAppend = toAppend.replace(/&lt;/g, "<");
                    toAppend = toAppend.replace(/&gt;/g, ">");

                    $("#constructor_body").append(toAppend);

                    $('input[name="is_time_defined"]').change(function () {

                        if($(this).is(":checked")) {
                            $("#course_time_block").removeAttr("hidden");
                        }
                        else {
                            $("#course_time_block").attr("hidden", true);
                        }

                    });

                    var price_widgets = 1;

                    $("#price_measure_description_selector_1").change(function () {

                        if ($(this).is(':checked')) {
                            $("#price_description_block_1").removeAttr("hidden");
                        }
                        else {
                            $("#price_description_block_1").attr("hidden", true);
                        }

                    });

                    $('input[name="add_price_measure_selector"]').click(function () {

                        price_widgets++;

                        $('input[name="remove_price_measure_selector"]').removeAttr("disabled");


                        var toAppend = '@ViewData["price_measure_widget"].ToString()';

                        toAppend = toAppend.replace(/&quot;/g, "\"");
                        toAppend = toAppend.replace(/&lt;/g, "<");
                        toAppend = toAppend.replace(/&gt;/g, ">");
                        toAppend = toAppend.replace(/[*]/g, price_widgets.toString());

                        $("#price_measures").append(toAppend);

                        $("#price_measure_description_selector_" + price_widgets).change(function () {

                            var data = $(this).attr('name').split("_");

                            var index = data[data.length - 1];

                            if ($(this).is(':checked')) {
                                $("#price_description_block_" + index).removeAttr("hidden");
                            }
                            else {
                                $("#price_description_block_" + index).attr("hidden", true);
                            }

                        });

                    });

                    $('input[name="remove_price_measure_selector"]').click(function () {

                        $("#price_measure_widget_" + price_widgets).remove();

                        --price_widgets;

                        if (price_widgets == 1) {
                            $('input[name="remove_price_measure_selector"]').attr("disabled", true);
                        }
                    });

                    $('input[name="is_week_defined"]').change(function () {

                        if ($(this).is(":checked")) {
                            var toAppend = '@ViewData["week_gradation_widget"]';
                            toAppend = toAppend.replace(/&quot;/g, "\"");
                            toAppend = toAppend.replace(/&lt;/g, "<");
                            toAppend = toAppend.replace(/&gt;/g, ">");

                            $("#week_gradation_block").append(toAppend);

                            $('select[name="week_gradation_type"]').change(function () {

                                $("#week_gradation_data").empty();

                                if ($(this).val() == "day_hour") {
                                    var toAppend = '@ViewData["week_gradation_widget_hours"]';

                                    toAppend = toAppend.replace(/&quot;/g, "\"");
                                    toAppend = toAppend.replace(/&lt;/g, "<");
                                    toAppend = toAppend.replace(/&gt;/g, ">");

                                    $("#week_gradation_data").append(toAppend);

                                    $(".days").change(function () {

                                        if ($(this).is(':checked')) {
                                            $("#" + $(this).attr('id') + "Hours").removeAttr("hidden");
                                        }
                                        else {
                                            $("#" + $(this).attr('id') + "Hours").attr("hidden", true);
                                        }

                                    });

                                }
                                else if ($(this).val() == "day_duration") {
                                    var toAppend = '@ViewData["week_gradation_widget_duration"]';

                                    toAppend = toAppend.replace(/&quot;/g, "\"");
                                    toAppend = toAppend.replace(/&lt;/g, "<");
                                    toAppend = toAppend.replace(/&gt;/g, ">");

                                    $("#week_gradation_data").append(toAppend);

                                    $('select[name="number_of_days"]').change(function () {

                                        $("#days_duration_block").empty();

                                        var numOfDays = $(this).val();

                                        for (var i = 0; i < numOfDays; ++i) {
                                            $("#days_duration_block").append('<div class="form-group">'
                                            + '<label for="day' + (i + 1) + 'Duration" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">День ' + (i + 1) + '</label>'
                                            + '<input name="day' + (i + 1) + 'Duration" type="text" class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="day' + (i + 1) + 'Duration">'
                                            + '<label for="day' + (i + 1) + 'Duration" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">хв</label>'
                                            + '</div>');
                                        }


                                    });
                                }


                            });

                        }
                        else {
                            $("#week_gradation_block").empty();
                        }

                    });

                }
                else if ($(this).val() == "deadline") {

                    var duration_widgets = 1;
                    var price_widgets = 1;

                    var toAppend = '@ViewData["service_deadline_block"].ToString()';

                    toAppend = toAppend.replace(/&quot;/g, "\"");
                    toAppend = toAppend.replace(/&lt;/g, "<");
                    toAppend = toAppend.replace(/&gt;/g, ">");

                    $("#constructor_body").append(toAppend);

                    $("#price_measure_description_selector_1").change(function () {

                        if ($(this).is(':checked')) {
                            $("#price_description_block_1").removeAttr("hidden");
                        }
                        else {
                            $("#price_description_block_1").attr("hidden", true);
                        }

                    });

                    $('input[name="add_price_measure_selector"]').click(function () {

                        price_widgets++;

                        $('input[name="remove_price_measure_selector"]').removeAttr("disabled");


                        var toAppend = '@ViewData["price_measure_widget"].ToString()';

                        toAppend = toAppend.replace(/&quot;/g, "\"");
                        toAppend = toAppend.replace(/&lt;/g, "<");
                        toAppend = toAppend.replace(/&gt;/g, ">");
                        toAppend = toAppend.replace(/[*]/g, price_widgets.toString());

                        $("#price_measures").append(toAppend);

                        $("#price_measure_description_selector_" + price_widgets).change(function () {

                            var data = $(this).attr('name').split("_");

                            var index = data[data.length - 1];


                            if ($(this).is(':checked')) {
                                $("#price_description_block_" + index).removeAttr("hidden");
                            }
                            else {
                                $("#price_description_block_" + index).attr("hidden", true);
                            }

                        });

                    });

                    $('input[name="remove_price_measure_selector"]').click(function () {

                        $("#price_measure_widget_" + price_widgets).remove();

                        --price_widgets;

                        if (price_widgets == 1) {
                            $('input[name="remove_price_measure_selector"]').attr("disabled", true);
                        }
                    });

                    $('select[name="range_type_1"]').change(function () {

                        $("#duration_measure_data_1").empty();

                        if ($(this).val() == "from_till") {
                            var toAppend = '@ViewData["duration_measure_from_till"]';

                            toAppend = toAppend.replace(/&quot;/g, "\"");
                            toAppend = toAppend.replace(/&lt;/g, "<");
                            toAppend = toAppend.replace(/&gt;/g, ">");
                            toAppend = toAppend.replace(/[*]/g, "1");

                            $("#duration_measure_data_1").append(toAppend);
                        }
                        else if ($(this).val() == "from") {
                            var toAppend = '@ViewData["duration_measure_from"]';

                            toAppend = toAppend.replace(/&quot;/g, "\"");
                            toAppend = toAppend.replace(/&lt;/g, "<");
                            toAppend = toAppend.replace(/&gt;/g, ">");
                            toAppend = toAppend.replace(/[*]/g, "1");

                            $("#duration_measure_data_1").append(toAppend);
                        }
                        else if ($(this).val() == "till") {
                            var toAppend = '@ViewData["duration_measure_till"]';

                            toAppend = toAppend.replace(/&quot;/g, "\"");
                            toAppend = toAppend.replace(/&lt;/g, "<");
                            toAppend = toAppend.replace(/&gt;/g, ">");
                            toAppend = toAppend.replace(/[*]/g, "1");

                            $("#duration_measure_data_1").append(toAppend);
                        }

                    });

                    $('input[name="add_duration_measure_selector"]').click(function () {

                        duration_widgets++;

                        $('input[name="remove_duration_measure_selector"]').removeAttr("disabled");

                        var toAppend = '@ViewData["duration_measure_widget"].ToString()';

                        toAppend = toAppend.replace(/&quot;/g, "\"");
                        toAppend = toAppend.replace(/&lt;/g, "<");
                        toAppend = toAppend.replace(/&gt;/g, ">");
                        toAppend = toAppend.replace(/[*]/g, duration_widgets.toString());

                        $("#duration_measures").append(toAppend);

                        $("#duration_measure_description_selector_" + duration_widgets).change(function () {

                            var data = $(this).attr('name').split("_");

                            var index = data[data.length - 1];

                            if ($(this).is(':checked')) {
                                $("#duration_description_block_" + index).removeAttr("hidden");
                            }
                            else {
                                $("#duration_description_block_" + index).attr("hidden", true);
                            }
                        });

                        $('select[name="range_type_' + duration_widgets + '"]').change(function () {

                            var data = $(this).attr('name').split("_");

                            var index = data[data.length - 1];

                            $("#duration_measure_data_" + index).empty();

                            if ($(this).val() == "from_till") {

                                var toAppend = '@ViewData["duration_measure_from_till"]';

                                toAppend = toAppend.replace(/&quot;/g, "\"");
                                toAppend = toAppend.replace(/&lt;/g, "<");
                                toAppend = toAppend.replace(/&gt;/g, ">");
                                toAppend = toAppend.replace(/[*]/g, index.toString());

                                $("#duration_measure_data_" + index).append(toAppend);
                            }
                            else if ($(this).val() == "from") {
                                var toAppend = '@ViewData["duration_measure_from"]';

                                toAppend = toAppend.replace(/&quot;/g, "\"");
                                toAppend = toAppend.replace(/&lt;/g, "<");
                                toAppend = toAppend.replace(/&gt;/g, ">");
                                toAppend = toAppend.replace(/[*]/g, index.toString());

                                $("#duration_measure_data_" + index).append(toAppend);
                            }
                            else if ($(this).val() == "till") {
                                var toAppend = '@ViewData["duration_measure_till"]';

                                toAppend = toAppend.replace(/&quot;/g, "\"");
                                toAppend = toAppend.replace(/&lt;/g, "<");
                                toAppend = toAppend.replace(/&gt;/g, ">");
                                toAppend = toAppend.replace(/[*]/g, index.toString());

                                $("#duration_measure_data_" + index).append(toAppend);
                            }

                        });
                    });


                    $('input[name="remove_duration_measure_selector"]').click(function () {

                        $("#duration_measure_widget_" + duration_widgets).remove();

                        duration_widgets--;

                        if (duration_widgets == 1) {
                            $('input[name="remove_duration_measure_selector"]').attr("disabled", true);
                        }
                    });

                    $("#duration_measure_description_selector_1").change(function () {

                        if ($(this).is(':checked')) {
                            $("#duration_measure_description_block_1").removeAttr("hidden");
                        }
                        else {
                            $("#duration_measure_description_block_1").attr("hidden", true);
                        }

                    });
                }

            });

            $('input[name="add_properties_selector"]').click(function () {
                properties++;

                $('input[name="remove_properties_selector"]').removeAttr("disabled");

                var toAppend = '@ViewData["default_property_widget"].ToString()';

                toAppend = toAppend.replace(/&quot;/g, "\"");
                toAppend = toAppend.replace(/&lt;/g, "<");
                toAppend = toAppend.replace(/&gt;/g, ">");
                toAppend = toAppend.replace(/[*]/g, properties.toString());

                $("#constructor_footer").append(toAppend);

                $('select[name="property_type_' + properties + '"]').change(function () {

                    alert($(this).attr('name'));

                    var data = $(this).attr('name').split("_");

                    var currProperty = data[data.length - 1];

                    var elem = $("#default_widget_data_block_" + currProperty);

                    elem.empty();

                    if ($(this).val() != "none") {

                        if ($(this).val() == "textarea") {
                            elem.append('<div class="form-group">'
                                + '<textarea class="form-control col-md-offset-2 col-lg-offset-2" name="default_widget_value_' + currProperty + '" />'
                                + '</div>'
                                );
                        }
                        else {
                            elem.append('<div class="form-group">'
                          + '<input type="' + $(this).val() + '" class="form-control col-md-offset-2 col-lg-offset-2" name="default_widget_value_' + currProperty + '"/>'
                          + '</div>'
                          );
                        }
                    }

                });

            });

            $('input[name="remove_properties_selector"]').click(function () {

                $("#default_property_widget_" + properties).remove();

                properties--;

                if (properties == 0) {
                    $('input[name="remove_properties_selector"]').attr("disabled", true);
                }

            });

        });
    </script>

}