@model ServiceSystem.Models.Application
@using ServiceSystem.Models
@using System.Globalization

@{
    ViewBag.Title = "ApplicationDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> toPass = new List<SelectListItem>();

    if ((List<PaymentMeasure>)ViewData["ServicePaymentMeasures"] != null)
    {
        foreach (var measure in (List<PaymentMeasure>)ViewData["ServicePaymentMeasures"])
        {
            switch (measure.Currency)
            {
                case "hryvnia":
                    toPass.Add(new SelectListItem
                    {
                        Text = String.Format("{0}/{1}", CultureInfo.GetCultureInfo("uk-UA").NumberFormat.CurrencySymbol, measure.ValueMeasure),
                        Value = String.Format("{0}_{1}", measure.Currency, measure.ValueMeasure)
                    }
                        );
                    break;
                case "dollar":
                    toPass.Add(new SelectListItem
                    {
                        Text = String.Format("{0}/{1}", CultureInfo.GetCultureInfo("en-US").NumberFormat.CurrencySymbol, measure.ValueMeasure),
                        Value = String.Format("{0}_{1}", measure.Currency, measure.ValueMeasure)
                    }
                    );
                    break;
                case "euro":
                    toPass.Add(new SelectListItem
                    {
                        Text = String.Format("{0}/{1}", CultureInfo.GetCultureInfo("de-DE").NumberFormat.CurrencySymbol, measure.ValueMeasure),
                        Value = String.Format("{0}_{1}", measure.Currency, measure.ValueMeasure)
                    }
                    );
                    break;
            }
        }
    }

    Bill bill = null;

    if (ViewData.ContainsKey("Bill"))
    {
        bill = (Bill)ViewData["Bill"];

        if (Model.Status == "ADVANCE_PENDING")
        {
            bill.Price = (bill.Price * bill.AdvancePercent) / Convert.ToDouble(100);
        }
        else if (Model.Status == "MAIN_PENDING")
        {
            bill.Price = bill.Price * (1 - bill.AdvancePercent / Convert.ToDouble(100));
        }
    }

    int bill_id = bill == null ? 0 : bill.Id;

    string wmPurse = "0";

    if (ViewData.ContainsKey("WMPurse"))
    {
        wmPurse = ViewData["WMPurse"].ToString();
    }

    string consultant = Model.ConsultantName == null ? "-" : Model.ConsultantName;
}

<link rel="stylesheet" href="~/Content/applicationDetails.css" />

<div class="row appBlock">
    <div class="col-sm-8 col-sm-offset-2 appBlock__body">
        <table class="table table-striped table-bordered tableData">
            <tbody id="application_params">
                <tr>
                    <td>Замовник</td>
                    <td>@Model.Username</td>
                </tr>
                <tr>
                    <td>Останні зміни</td>
                    <td>@Model.StatusChangeDate</td>
                </tr>
                <tr>
                    <td>Статус</td>
                    <td>@Model.Status</td>
                </tr>
                <tr>
                    <td>Назва сервісу</td>
                    <td>@Model.ServiceName</td>
                </tr>
                <tr>
                    <td>Деталі</td>
                    @if (Model.Description.Trim() != "")
                    {
                        <td>@Model.Description</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                </tr>
                <tr>
                    <td>
                        Заявку обслуговує
                    </td>
                    <td>
                        @consultant
                    </td>
                </tr>
                @if (Model.Mark != null)
                {
                    <tr>
                        <td>
                            Оцінка користувача
                        </td>
                        <td>
                            @Model.Mark
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Фінальний коментар користувача
                        </td>
                        <td>
                            @Model.FinalEstimate
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-sm-8 col-sm-offset-2 receipt">
        @if (ViewData.ContainsKey("FileSource"))
        {
            <div class="row">
                <embed src="@ViewData["FileSource"]" class="col-xs-10 col-sm-offset-1 receipt__fileSource" />
            </div>
        }
        else if (Model.Status == "MAIN_PAID")
        {
            <p class="text-center"><b>Послугу повністю оплачено</b></p>
            if (Model.Mark == null && User.Identity.Name == Model.Username)
            {
                <input type="button" data-toggle="modal" id="show_estimate_modal" data-target="#estimate_modal" value="Оцінити якість послуги" class="btn btn-success btn-block" style="margin: auto;" />
            }
        }

        @if ((User.Identity.Name == ViewData["ServiceProviderName"].ToString() || User.Identity.Name == Model.ConsultantName)
                && Model.Status == "NO_BILL")
        {
            <input type="button" name="form_application" class="btn btn-success btn-block" style="margin: auto;" value="Сформувати заявку" />

            <div id="application_form_holder" hidden>
                @Html.Partial("~/Views/Shared/_Bill.cshtml", toPass,
               new ViewDataDictionary() { new KeyValuePair<string, object>("ApplicationId", (int)ViewData["ApplicationId"]) })
            </div>
        }


        @if (User.Identity.Name == Model.Username
                && Model.Status != "MAIN_PAID"
                && Model.Status != "NO_BILL"
                && bill.Type == "WEBMONEY")
        {
            <form id=pay name=pay method="POST" action="https://merchant.webmoney.ru/lmi/payment.asp" accept-charset="windows-1251">
                <input type="hidden" name="LMI_PAYMENT_AMOUNT" value="@bill.Price" />
                <input type="hidden" name="LMI_PAYMENT_DESC" value="Платіж за квитанцією # @bill.Id" />
                <input type="hidden" name="LMI_PAYMENT_NO" value="@bill.Id">
                <input type="hidden" name="LMI_PAYEE_PURSE" value="@wmPurse" />
                <input type="hidden" name="LMI_SIM_MODE" value="0" />
                <input type="submit" class="btn btn-success btn-block" style="margin: auto;" value="Сплатити квитанцію" />
            </form>
        }

        @if ((User.Identity.Name == ViewData["ServiceProviderName"].ToString() || User.Identity.Name == Model.ConsultantName)
                    && Model.Status != "MAIN_PAID"
                    && Model.Status != "NO_BILL"
                    && bill.Type == "BANK")
        {
            <input type="submit" class="btn btn-success btn-block receipt__button" data-toggle="modal" data-target="#ask_modal" value="Підтвердити здійснення платежу" />
        }

        @if (Model.Status != "MAIN_PAID")
        {
            <input type="button" onclick="location.href='@Url.Action("Dialogue", "Service", new { id = Model.DialogueId })'" class="btn btn-success btn-block receipt__button" value="До діалогу" />
        }
    </div>
</div>


<div class="modal fade" id="ask_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">Підтвердіть Вашу дію</h2>
            </div>
            <div class="modal-footer">
                <button type="button" id="payment_done" class="btn btn-success">Підтвердити</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="estimate_modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="text-center">Оцінка обслуговування</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="form-horizontal" style="margin: 15px; margin: auto;">
                            <div class="form-group">
                                <select class="form-control col-sm-offset-2" name="mark">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control col-sm-offset-2" rows="10" name="comment" placeholder="Ваш коментар..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="estimate_done" class="btn btn-success">Підтвердити</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/BillValidators.js"></script>
    <script type="text/javascript">
        var validator = new WebmoneyBillValidator();

        $(document).ready(function () {

            $("#bill_create_form").submit(function (e) {
                if (!validator.Validate()) {
                    e.preventDefault();
                }
            });

            $("#estimate_done").click(function () {

                $("#estimate_modal").modal("hide");

                var toPass = {
                    Mark: $('select[name="mark"]').val(),
                    Comment: $('textarea[name="comment"]').val(),
                    ApplicationId: '@Model.Id'
                };

                $.ajax({
                    method: "POST",
                    url: "/api/Application/PostMark",
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('access_token')
                    },
                    dataType: "json",
                    data: JSON.stringify(toPass),
                    success: function (res) {

                        $("#application_params").append('<tr><td>Оцінка користувача</td><td>' + toPass.Mark +
                            '</td></tr><tr><td>Фінальний коментар користувача</td><td>' + toPass.Comment + '</td></tr>');

                        $("#show_estimate_modal").hide();
                    },
                    error: function (res) {
                        displayMessage("Error", res.responseText);
                    }
                });

            });

            $("#payment_done").click(function () {

                $.ajax({
                    method: "POST",
                    url: "/api/BankBill/ConfirmPayment",
                    contentType: "application/json; charset=utf-8",
                    headers: {
                        Authorization: 'Bearer ' + localStorage.getItem('access_token')
                    },
                    dataType: "json",
                    data: JSON.stringify(@bill_id),
                    success: function () {
                        window.location.href = '@Url.Action("ApplicationDetails", "Service", new { id = Model.Id })';
                    },
                    error: function (res) {
                        displayMessage("Error", res.responseText);
                    }

                });

            });

            $('select[name="payment_selector"]').change(function () {
                if ($(this).val() == "wm") {
                    validator = new WebmoneyBillValidator();
                    $("#wm_container").removeAttr("hidden");
                    $("#privat_container").attr("hidden", true);
                }
                else if ($(this).val() == "privat") {
                    validator = new BankBillValidator();
                    $("#privat_container").removeAttr("hidden");
                    $("#wm_container").attr("hidden", true);
                }
            });

            $('input[name="form_application"]').click(function () {
                $("#application_form_holder").removeAttr("hidden");
            });

            $('input[name="has_time_limit"]').change(function () {
                if ($(this).is(":checked")) {
                    $("#time_limit_holder").removeAttr("hidden");
                }
                else {
                    $("#time_limit_holder").attr("hidden", true);
                }
            });

            $('input[name="add_comment"]').change(function () {
                if ($(this).is(":checked")) {
                    $("#comment_holder").removeAttr("hidden");
                }
                else {
                    $("#comment_holder").attr("hidden", true);
                }
            });
        });
    </script>
}
