@model ServiceSystem.Models.Service
@using ServiceSystem.Models
@{
    ViewBag.Title = "SessionDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<ServiceConsultant> consultants = (List<ServiceConsultant>)ViewData["consultants"];

    bool isNotConfirmed = false;

    if (consultants != null)
    {
        isNotConfirmed = consultants.Where(x => x.Approved == false && x.Email == User.Identity.Name).Count() > 0;
    }

    DateTime toCompare = DateTime.Now;
    DateTime currMoment = toCompare;
    Dictionary<string, string> parameters = null;

    if (ViewData.ContainsKey("PARAMS")) {
        parameters = (Dictionary<string, string>)ViewData["PARAMS"];
    }

    if (parameters != null && parameters.ContainsKey("Початок"))
    {
        toCompare = DateTime.Parse(((Dictionary<string, string>)ViewData["PARAMS"])["Початок"]);
    }
}

<link rel="stylesheet" href="~/Content/serviceDetails.css" />

@if (isNotConfirmed)
{
    <div id="consultant_request">
        <div class="row">
            <div class="col-xs-6 col-sm-offset-3 well">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="text-center">Вас було запрошено консультантом цього сервісу</h3>
                    </div>
                </div>
                <div class="row consultantBlock">
                    <div class="col-xs-6">
                        <input type="button" class="btn btn-success btn-block" id="confirm_consultant" value="Підтвердити" />
                    </div>
                    <div class="col-xs-6">
                        <input type="button" class="btn btn-default btn-block" id="reject_consultant" value="Відмовити" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="modal fade" id="ask_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">Підтвердіть Вашу дію</h2>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmation_done" class="btn btn-success">Підтвердити</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>
    </div>
</div>
<div class="row dataBlock">
    <div class="col-xs-8 col-sm-offset-2 well text-center">
        @if(User.Identity.Name == Model.Username)
        {
            if (Model.IsActive)
            {
            <div class="row">
                <div class="col-sm-4">
                    <p>Цю послугу активовано.</p>
                </div>
                <button id="service_deactivate" class="btn btn-default col-xs-12 col-sm-4">Деактивувати</button>
            </div>
            }
            else
            {
                <div class="row">
                    <div class="col-sm-4">
                        <p>Цю послугу деактивовано.</p>
                    </div>
                    <button id="service_activate" class="btn btn-default col-xs-12 col-sm-4">Активувати</button>
                </div>
            }
        }
        else
        {
            if (currMoment > toCompare)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center">Ви вже не можете залишати заявки на цей курс.</p>
                    </div>
                </div>
            }
            else if (!Model.IsActive)
            {
                <div class="row">
                    <div class="col-xs-12">
                        <p class="text-center">Надання цієї послуги призупинено.</p>
                    </div>
                </div>
            }
        }
        <h3 class="dataBlock__name">@Model.Name</h3>
        <p class="dataBlock__category"><b>Категорія</b>: @Model.Category</p>
        <p><b>@Model.Description</b></p>
        @if (parameters != null)
        {
            foreach (var param in parameters)
            {
                if (param.Key != "SERVICE_TYPE" && param.Key != "Тривалість" && param.Key != "Вартість")
                {
                    <div class="row" style="margin-top: 5px;">
                        <div class="col-xs-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                            <p><b>@param.Key</b></p>
                        </div>
                        <div class="col-xs-3 paramText">
                            <p><i>@param.Value</i></p>
                        </div>
                    </div>
                }
            }

            <div id="media_container">
                @if (ViewData.ContainsKey("media_files"))
                {
                    foreach (MediaFile file in (List<MediaFile>
                        )ViewData["media_files"])
                    {
                        if (User.Identity.Name == Model.Username)
                        {
                            @Html.Partial("_ProviderMediaFile", file);
                        }
                        else
                        {
                            @Html.Partial("_CustomerMediaFile", file)
                        }
                    }
                }
            </div>

            if (User.Identity.Name == Model.Username)
            {
                <div class="row creatorBlock">
                    @using (Html.BeginForm("AddMediaFile", "Service", null, FormMethod.Post, new { enctype = "multipart/form-data", id="media_form" }))
                    {
                        <input type="hidden" name="service_name" value="@Model.Name" />
                        <input type="hidden" name="service_id" value="@Model.Id" />
                        <div class="col-sm-6 col-sm-offset-3">
                            <button id="slide_media_button" type="button" class="btn btn-default btn-block">+ додати медіа-файл</button>
                        </div>
                        <div class="col-sm-8 col-sm-offset-2 mediaFile" id="slide_media_panel">
                            <label for="media_source_type" class="control-label col-sm-offset-2">Як додати файл?</label>
                            <div class="form-group">
                                <input type="radio" checked name="media_source_type" value="url" />
                                <p class="mediaFile__checkText">Через URL-адресу</p>
                                <br />
                                <input type="radio" name="media_source_type" value="local" />
                                <p class="mediaFile__checkText">Вручну з локальної машини</p>
                                <div id="media_source_container" style="margin-top: 10px;">
                                    <input type="url" name="url_file" class="form-control mediaFile__urlInput" placeholder="URL-адреса" />
                                </div>
                                <div class="form-group mediaFile__additionalInfo">
                                    <input type="checkbox" id="media_description_selector" />
                                    <label for="media_description_selector" class="control-label">додаткова інформація</label>
                                </div>
                                <div class="form-group" id="media_description_container" hidden>
                                    <textarea rows="10" name="media_description" class="form-control mediaFile__textArea"></textarea>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-success" id="add_media_file" value="Додати"  />
                        </div>
                    }
                </div>
            }

            <div class="paramText">
                @if (parameters.ContainsKey("Вартість"))
                {
                    <h3 class="property__header-basic">Вартість:</h3>
                    <div class="text-center property__value">
                        <p><i>@parameters["Вартість"]</i></p>
                    </div>
                }
                @if (parameters.ContainsKey("Тривалість"))
                {
                    <h3 class="property__header-basic">Тривалість:</h3>
                    <div class="text-center property__value">
                        <p><i>@parameters["Тривалість"]</i></p>
                    </div>
                }
            </div>

            if (Model.Properties != null)
            {
                foreach (Property prop in Model.Properties)
                {
                    <h3 class="property__header-extended">@prop.Name</h3>
                    <div class="text-center property__value">
                        <p><i>@prop.Value</i></p>
                    </div>
                }
            }
        }

        @if (ViewData.ContainsKey("Attachments"))
            {
                if (((List<string>)ViewData["Attachments"]).Count > 0)
                {
                <h3 class="text-center property__header-extended">Додатки</h3>
            }

            foreach (string attachment in (List<string>)ViewData["Attachments"])
            {
                <a href="@Url.Action("DownloadAttachment", "Service", new { attachment_name = attachment, service_id = Model.Id })">@attachment</a><br />
            }
        }
       

            @if (User.Identity.Name != Model.Username)
            {
                <div class="row customerBlock">
                    <div class="col-xs-6">
                        @if (Model.IsActive && currMoment <= toCompare)
                        {
                        <input type="button" class="btn btn-info btn-block" value="Залишити заявку" id="application_create" />
                        }
                        else
                        {
                            <input type="button" class="btn btn-info btn-block" disabled="disabled" value="Залишити заявку" id="application_create" />
                        }
                    </div>
                    <div class="col-xs-6">
                        @if (Model.IsActive && currMoment <= toCompare)
                        {
                        <input type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#consultant_ask_modal" value="Задати запитання" />
                        }
                        else
                        {
                            <input type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#consultant_ask_modal" disabled="disabled" value="Задати запитання" />
                        }
                    </div>
                </div>
            }

            @if (User.Identity.Name == Model.Username)
            {
                <div class="row customerBlock">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="panel_1">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                            Консультанти сервісу
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body consultantList" id="panel_body_1">
                                        @if (consultants != null)
                                        {                                          
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <td>ID</td>
                                                            <td>ПІБ</td>
                                                            <td>Email</td>
                                                            <td>Підтверджений</td>
                                                            <td>Остання заявка</td>
                                                            <td></td>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="consultants_list">
                                                        @foreach(var consultant in consultants)
                                                        {
                                                            <tr id="consultant_@consultant.Id">
                                                                <td><h6>@consultant.Id</h6></td>
                                                                <td><h6>@consultant.Surname @consultant.Name  @consultant.FatherName</h6></td>
                                                                <td><h6> @consultant.Email</h6></td>
                                                                <td><h6>@consultant.Approved</h6></td>
                                                                <td><h6>@consultant.LastAssignmentTime</h6></td>
                                                                <td><input type="button" style="vertical-align: middle;" class="btn btn-success btn-xs" name="remove_@consultant.Id" value="Видалити" /></td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        }
                                        else
                                        {
                                            <p class="text-center">Жодного консультанта не знайдено</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row consultantSearchBlock">
                    <div class="col-sm-4 col-sm-offset-4">
                        <input type="button" onclick='location.href="@Url.Action("ConsultantSearch", "Service", new { service_id = Model.Id })"' id="invite_consultants" class="btn btn-success btn-block" value="Запросити" />
                    </div>
                </div>
            }

</div>
</div>
<div class="row">
    <div class="col-xs-8 col-sm-offset-2 well">
        <div class="col-xs-12">
            <h3 class="text-center">Часті запитання</h3>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1" id="faq_container">
            @if (ViewData.ContainsKey("FAQ") && (List<FAQ>)ViewData["FAQ"] != null)
            {
                foreach (var faq in (List<FAQ>)ViewData["FAQ"])
                {
                    if (User.Identity.Name == Model.Username)
                    {
                        @Html.Partial("_ProviderFAQ", faq);
                    }
                    else
                    {
                        @Html.Partial("_CustomerFAQ", faq);
                    }
                }
            }
            else
            {
                <p class="empty_message text-center">Запитань не знайдено.</p>
            }
        </div>

        @if (User.Identity.Name == Model.Username)
        {
            <br />
            <hr />
            <br />
            <div class="col-xs-11 col-sm-10 col-sm-offset-1">
                <div class="row">
                    <form class="col-xs-12 col-sm-6 col-sm-offset-3 faq">
                        <div class="form-group">
                            <input type="text" class="form-control faq__field" placeholder="Запитання" name="question" />
                        </div>
                        <div class="form-group">
                            <textarea name="answer" class="form-control faq__field" placeholder="Відповідь" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                <input id="add_faq" type="button" class="btn btn-block btn-success" value="Додати" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>

<div class="row" hidden id="application_holder">
    <div class="col-xs-8 col-sm-offset-2">
        @using (Html.BeginForm("ServiceDetails", "Service", new { serviceId = Model.Id },
                FormMethod.Post, new { @class = "form-horizontal well", id="application_form" }))
        {
            if (Model.Type == "Session")
            {
                @Html.Partial("_SessionApplication");
            }
            else if (Model.Type == "Deadline")
            {
                @Html.Partial("_DeadlineApplication");
            }
            @Html.Partial("_Application");
        }
    </div>
</div>
<div class="modal fade" id="delete_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">Підтвердіть Вашу дію</h2>
            </div>
            <div class="modal-footer">
                <button type="button" id="deletion_done" data-dismiss="modal" class="btn btn-success">Підтвердити</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="consultant_ask_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">Для початку діалогу натисніть "Підвердити"</h2>
            </div>
            <div class="modal-footer">
                <button type="button" id="create_dialogue" data-dismiss="modal" class="btn btn-success">Підтвердити</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="faq_delete_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">Підтвердіть Вашу дію</h2>
            </div>
            <div class="modal-footer">
                <button type="button" id="faq_deletion_done" data-dismiss="modal" class="btn btn-success">Підтвердити</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="media_delete_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2 class="text-center">Підтвердіть Вашу дію</h2>
            </div>
            <div class="modal-footer">
                <button type="button" id="media_deletion_done" data-dismiss="modal" class="btn btn-success">Підтвердити</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/AppValidators.js"></script>
    <script src="~/Scripts/Helper/ServiceDetailsHelper.js"></script>
    <script type="text/javascript">

        var helper = new ServiceDetailsHelper(@Model.Id);

        $(document).ready(function () {

            helper.setValidator();

            $("#slide_media_button").click(function () {
                $("#slide_media_panel").slideToggle("slow");
            });

            $("#service_activate").click(function () {
                helper.toggleService(true);
            });

            $("#service_deactivate").click(function () {
                helper.toggleService(false);
            });

            $("#media_form").submit(function () {
                var type = $('input[name="media_source_type"]:checked').val();

                if (type == "local") {
                    if ($('input[name="local_file"]').val() == "") {
                        displayMessage("Warning", "Оберіть потрібний файл");
                        return false;
                    }
                }
                else {
                    if ($('input[name="url_file"]').val() == "") {
                        displayMessage("Warning", "Введіть url-адресу файлу");
                        return false;
                    }
                }

                return true;
            });

            $("#media_description_selector").change(function () {
                if ($(this).is(":checked")) {
                    $("#media_description_container").removeAttr("hidden");
                }
                else {
                    $("#media_description_container").attr("hidden", true);
                }
            });

            $('input[name="media_source_type"]').change(function () {
                if ($(this).val() == "local") {
                    $("#media_source_container").empty();
                    $("#media_source_container").append('<input type="file" name="local_file" class="form-control" style="margin: auto;" placeholder="Файл"/>');
                }
                else{
                    $("#media_source_container").empty();
                    $("#media_source_container").append('<input type="text" name="url_file" class="form-control" style="margin: auto;" placeholder="URL-адреса" />');
                }
            });

            $("#application_form").submit(function (e) {
                if (helper.inputInvalid()) {
                    e.preventDefault();
                }
            });

            $('a[class^="close"]').click(function (e) {
                e.preventDefault();

                helper.faq_id = $(this).attr('id').split('_')[1];

                $("#faq_delete_modal").modal('show');
            });

            $('a[class^="media_close"]').click(function (e) {
                e.preventDefault();

                media_id = $(this).attr('id').split('_')[2];

                $("#media_delete_modal").modal('show');
            });

            $("#faq_deletion_done").click(function () {
                helper.deleteFaq();
            });

            $("#media_deletion_done").click(function () {
                helper.deleteMedia();
            });

            $("#add_faq").click(function () {
                helper.addFaq();
            });

            $('input[name^="remove"]').click(function () {
                id = $(this).attr('name').split('_')[1];

                $("#delete_modal").modal('show');
            });

            $("#create_dialogue").click(function () {
                helper.createDialogue();
            });

            $("#deletion_done").click(function () {
                helper.deleteConsultant();
            });

            $("#confirm_consultant").click(function (e) {
                confirmConsultant = true;

                $("#ask_modal").modal('show');
            });

            $("#reject_consultant").click(function (e) {
                confirmConsultant = false;

                $("#ask_modal").modal('show');
            });

            $("#confirmation_done").click(function () {
                helper.confirmConsultant();
            });

            helper.htmlDecode();
        });

    </script>
}
